//- iframe Widget
.iframe-widget(ng-controller='IframeWidget')
    iframe(ng-src='{{ getUrl() }}',
        frameborder='0', 
        marginheight='0', 
        marginwidth='0', 
        width='100%', 
        height='100%', 
        scrolling='auto',
        webkitAllowFullScreen,
        mozAllowFullScreen,
        allowFullScreen,
        iframerefresh='{{ widget.refresh }}')
